body {
  background:#0e0e0e;
  color:#f0f0f0;
  font-family:Segoe UI;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

body.light {
  background:#f5f5f5;
  color:#111;
}

#chat-container {
  width:700px;
  background:#1a1a1a;
  padding:20px;
  border-radius:10px;
}

.controls button {
  margin:4px;
}

#chat-box {
  height:400px;
  overflow:auto;
  background:#121212;
  padding:10px;
  margin:10px 0;
}

.user-msg {
  text-align:right;
  background:#0f62fe;
  margin:5px;
  padding:8px;
  border-radius:10px;
}

.ai-msg {
  background:#2e2e2e;
  margin:5px;
  padding:8px;
  border-radius:10px;
}

pre {
  background:#000;
  padding:10px;
  overflow:auto;
}
pre code {
  color:#0f0;
}